/* Body Styling */
body {
    background-color: #f0f0f5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    position: sticky; /* Enables sticky behavior */
    top: 0;           /* Sticks to the top of the screen */
    background-color: #f0f0f5; /* Or your desired background color */ 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
    z-index: 10; /* Ensures the navigation stays on top of other elements */
}

/* Section Spacing  */
section {
    padding: 20px;
    margin-bottom: 30px; 
}

/* Centering the About Section */
#About {
    text-align: center; 
}

/* Heading Styles */
h1, h2 { 
    font-size: 2.5em;
    font-weight: bold;
    color: #2c3e50; 
    text-align: center;
}

/* Styling the Name */ 
h1 { 
    font-size: 3em;  
    margin-bottom: 20px; 
}

/* Experience Section with Flexbox */
#Experience {
    display: flex; /* Makes the "Experience" section a flex container */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines if needed */
}

/* Individual Experience Items */
.experience-item {
    background-color: #e8e8e8;
    padding: 15px;
    margin-bottom: 10px; 
    border-radius: 5px; 
    width: 85%; /* Adjust width as needed */
    margin-right: 10px;  /* Add some margin between items */
    display: flex;  /* Make each experience item a flex container */
    flex-direction: column; /* Arrange elements vertically by default */
}

/* Job Title Styling */
.experience-item h3 {
    margin-bottom: 5px; /* Add some space below the job title */
}

/* Job Dates Styling */
.experience-item p:first-child { /* Target the first paragraph within each item */
    font-style: italic; /* Italicize dates */
    margin-bottom: 5px;  /* Add some space below the dates */
}

/* Social Icon Links */
#Connect ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#Connect ul li a { 
    display: block; 
    width: 50px; 
    height: 50px; 
    margin-right: 2px; 
}

#Connect ul li a:hover {
    opacity: 0.8; 
}

/* ... your existing styles */

/* Social Icon Links */
#Connect ul li a img { 
    width: 32px; /* Adjust the width */
    height: 32px; /* Adjust the height */
}

.experience-list {
    text-align: center;
}

#profilepic {
    text-align: center; /* Centers the content within the section  */
}

#profilepic img {
    max-width: 300px;  /* Adjust the maximum width. Image scales down proportionally */
    max-height: 300px; /* Adjust the maximum height */
    display: block;    /* Makes the image a block element */
    margin: 0 auto 15px auto;   /* Centers the image horizontally with some space below */
}
